<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/styles.css" , rel="stylesheet">
</head>

<body>
    <header class="border-b-4 bg-transparent">
        <nav class="py-4 px-12 flex justify-between">
            <div class="logo-section w-[30%] bg-black-200 ">
                <h3 class="text-2xl">Ibifaa<span class="text-[#A9A4A4] text-xl">.Blog</span></h3>
            </div>

            <ul class="lg:flex justify-between gap-x-4 sm:hidden text-xl">
                <li class="active:text-[#A9A4A4] hover:text-black"><a href="/">Home</a></li>
                <li class="hover:text-[#A9A4A4]"><a href="/write-blog">Post Blog</a></li>
                <li class="hover:text-[#A9A4A4]"><a href="/view-blog">View Blog</a></li>
            </ul>

            <div class="burger sm:block lg:hidden">
                <img src="/images/icon-hamburger.svg" alt="icon-hamburger">
            </div>
        </nav>
    </header>
</body>

</html>